<div style='width: calc(100% - 14px); height: 200px; padding: 2px 7px; margin: 7px; overflow-y: auto'>
  <p class='text-left'>{{feedback.title}}</p>
  <div class='fade' style='width: 100%; height: 3em; overflow:hidden; position: absolute; bottom: 0;'>
    <p class='text-left'>{{feedback.body}}</p>
  </div>
  {{#link-to 'feedbacks'}}Подробнее{{/link-to}}
  <div class='horizontal-line'></div>
</div>