<article>
  <p class='text-left text-20'>{{feedback.title}}</p>
  <div>
    <small>{{date feedback.date}}</small>
    <p class='text-left'>{{post.body}}</p>
  </div>
  <div style='width: 200px; float: right;'>
    {{#link-to 'feedback-edit' feedback class='edit'}}
      <span>Редактировать</span>
    {{/link-to}}
    <button class='delete' {{action 'delete'}}>Удалить</button>
  </div>
</article>
