<div class='rental-input' style='overflow: auto'>
  {{input type="date" value=feedback.date}}
  {{input type="text" placeholder='Заголовок' value=feedback.title}}
  {{textarea cols="80" rows="6" placeholder='Текст' value=feedback.body}}
</div>