<div class='rental-input' style='overflow: auto'>
  {{input type="date" value=post.date}}
  {{input type="text" placeholder='Заголовок' value=post.title}}
  {{textarea cols="80" rows="6" placeholder='Текст' value=post.body}}
</div>