<div class="index-news">
    <div class="container">
      <div class='block' style="width: 894px; height: 400px; float: left; margin: 15px 0; padding: 10px">
        <p class='text-20'>Новости</p>
        <div style='width: 100%; height: calc(100% - 50px); overflow-y: scroll'>
          {{#each posts as |post index|}}
            {{#if (eq index 0)}}
              <article class='listing' style='height: 140px'>
                <p class='text-left text-20'>{{post.title}}</p>
                <div class='fade' style='bottom: 0; height: 110px'>
                  <p class='text-left'>{{post.body}}</p>
                </div>
                {{#link-to 'posts'}}<p class='text-right'>Подробнее</p>{{/link-to}}
              </article>
                {{#link-to 'posts'}}<p class='text-right'>Подробнее</p>{{/link-to}}
            <div class='horizontal-line'></div><br>
            {{/if}}
            {{#if (eq index 1)}}
              <article class='listing' style='height: 120px'>
                <p class='text-left text-20'>{{post.title}}</p>
                <div class='fade'>
                  <p class='text-left'>{{post.body}}</p>
                </div>
              </article>
                {{#link-to 'posts'}}<p class='text-right'>Подробнее</p>{{/link-to}}
            {{/if}}
          {{/each}}
        </div>
      </div>
      
      
      <div style="float: left; width: 286px; height: 400px; margin-left: 18px; padding-top: 15px">

        <script type="text/javascript" src="//vk.com/js/api/openapi.js?144"></script>

        <!-- VK Widget -->
        <div id="vk_groups"></div>
        <script type="text/javascript">
        VK.Widgets.Group("vk_groups", {mode: 3, width: "286", height: "400"}, 146662636);
        </script>
        
      </div>
  </div>
</div>
