<div class="index-news">
    <div class="container">
      <div class='block' style="width: 894px; height: 400px; float: left; margin: 15px 0; padding: 10px">
        <p class='text-20'>Новости</p>
        <div style='width: 100%; height: calc(100% - 50px); overflow-y: scroll'>

          <div style='width: calc(100% - 10px); padding: 15px; margin: 10px 0 10px 0; overflow-y: auto'>
            <p class='text-left text-20'>{{posts.[0].title}}</p>
            <p class='text-left'>{{posts.[0].body}}</p>
            <div class='horizontal-line'></div>
          </div>
          <div style='width: calc(100% - 10px); padding: 15px; margin: 10px 0 10px 0; overflow-y: auto'>
            <p class='text-left text-20'>{{posts.[1].title}}</p>
            <p class='text-left'>{{posts.[1].body}}</p>
            <div class='horizontal-line'></div>
          </div>
          
        </div>
      </div>
      
      
      <div style="width: 306px; height: 400px; margin-left: 18px">

        <script type="text/javascript" src="//vk.com/js/api/openapi.js?144"></script>

        <!-- VK Widget -->
        <div id="vk_groups"></div>
        <script type="text/javascript">
        VK.Widgets.Group("vk_groups", {mode: 3, width: "292", height: "400"}, 146662636);
        </script>
        
      </div>
  </div>
</div>
