<div class="index-feedback right">
  <b>Отзывы:</b>
  <div style='width: 100%; height: calc(100% - 30px); overflow-y: scroll'>
    {{#each feedbacks as |feedback|}}
      {{feedback-listing feedback=feedback}}
    {{/each}}
  </div>
</div>