<div class="index-feedback right  block">
  <b>Отзывы:</b>
  <div style='width: 100%; height: calc(100% - 30px); overflow-y: scroll'>
    <ul>
    {{#each feedbacks as |feedback index|}}
      {{#if (less index 3)}}
          {{feedback-listing feedback=feedback}}
          {{#if (less index 2)}}
            <div class='horizontal-line' style='margin-left: 14px; margin-right: 7px; width: calc(100% - 21px)'></div>
          {{else}}
            <br>
          {{/if}}
      {{/if}}
    {{/each}}
    </ul>
  </div>
</div>