<div class='rental-input' style='overflow: auto'>
  {{input type="date" value=date}}
  {{input type="text" placeholder='Заголовок' value=title}}
  {{textarea cols="80" rows="6" placeholder='Текст' value=body}}
  <button {{action 'add'}}>Добавить</button>
</div>