<div class='block' style='width: calc(100% - 10px); padding: 15px; margin: 10px 0 10px 0; overflow-y: auto'>
  <p class='text-left text-20'>{{post.title}}</p>
  <p class='text-left'>{{post.body}}</p>
</div>