.accordion-container {
  margin: 20px 0;
}

.accordion-title {
  width: 100%;
  height: 38px;
  padding: 5px 12px;
  background: #f2f2f2;
  border: 1px solid #c2c2c2;
  border-radius: 5px;
  cursor: pointer;
}

.accordion-title::after {
  
}

.expanded .accordion-title {
  opacity: .5;
  border-radius: 5px 5px 0 0;
}

.accordion-body {
  background-color: white;
  width: 100%;
  max-height: 0px;
  border 0px;
  overflow: hidden;
}

.expanded .accordion-body {
  padding: 10px;
  border: 1px solid #c2c2c2;
  border-top: 0px;  
  max-height: 2000px;
  overflow: auto;
}

.accordion-body button {
  width: 140px;
  height: 35px;
  margin: 0 0 10px 25px;
  box-shadow: 0px 1px 2px rgba(194, 194, 194, .6);
  transition: box-shadow 150ms;
}

.accordion-body button:hover {
  box-shadow: 0px 2px 6px rgba(194, 194, 194, .6);
}
