@import url(https://fonts.googleapis.com/css?family=Lato:300,300italic,400,700,700italic);

/**
 * Base Elements
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 150ms;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a,
button {
    font-family: 'Lato', 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

a {
    color: #2185D0;
    text-decoration: none;
}

b {
    font-weight: 600;
}

p {
    line-height: 1.5;
    margin-bottom: 15px;
}

button {
    background-color: #01ba7e;
    padding: 1px 0;
    color: white;
    border-radius: 5px;
    border: none;
    margin-top: 6px;
    float: right;
    font-size: 16px;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, .35);
}

button:hover {
    box-shadow: -1px 1px 4px rgba(0, 0, 0, .35);
}

.page {
    width: 100vw;
    max-width: 1920px;
    min-width: 1024px;
    min-height: calc(100vh - 100px);
    background: #fbfbfb;
    overflow-x: hidden !important; 
}

body {
  width: 100%;
  overflow-x: hidden !important;
}
/**
 * Top Navigation
 */

.container {
    width: 1024px;
    margin: auto;
}

.container-logo {
    width: 150px;
    margin-left: calc((100% - 1024px) / 2); 
    text-align: center;
}

.container-info {
    width: 936px;
    margin: auto;
}

.container-search-tab {
    top: 228px;
    width: 895px;
    height: 32px;
    margin: auto;
    position: relative;
    z-index: 100;
}

.slogan {
    height: 90px;
    background: white;
    padding-top: 3px;
}

.menu {
    height: 38px;
    background-color: #e2e2e2;
}

.menu ul {
    position: relative;
    margin: 0;
    padding: 0;
    width: 685px;
    display: table;
    float: left;
    list-style: none;
    list-style-image: none;
}

.menu li {
    position: relative;
    display: table-cell;
    text-align: center;
}

.menu li a {
    font-size: 16px;
    line-height: 37px;
    text-decoration: none;
    color: black;
    display: block;
    opacity: .8;
}

.menu li a:hover {
    background-color: #ebebeb;
    opacity: .9;
}

.menu li a.active {
    background-color: #01ba7e;
    color: white;
    opacity: 1;
}

.logo-gradient {
    background-image: linear-gradient(to bottom, #01ba7e 0%, white 85%);
    width: 150px;
    height: 110px;
    float: left;
    position: relative;
    margin-top: -101px;
    margin-right: 5px;
}

.logo-gradient:hover {
    background-image: linear-gradient(to bottom, #01ba7e 0%, white 85%);
}

.logo-letter {
    background: url(/assets/images/logo_150.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 90px;
    width: 150px;
    position: absolute;
    bottom: -30px;
}

.list-filter input {
    padding: 11px;
    font-size: 18px;
    width: 500px;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.75);
    border: solid 1px lightgray;
    display: block;
}

.menu input:focus {
    background-color: #f9f9f9;
    outline: none;
}

.menu .results {
    display: none;
    position: absolute;
    width: 215px;
    top: 54px;
    left: 10px;
    background-color: #f6f6f6;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.results li {
    list-style: none;
    padding: 10px 0px;
}

.menu .results li:hover {
    background: #f3f3f3;
}

/* FOOTER */
.footer {
    width: 100vw;
    height: 100px;
    background-color: #4c4c4c;
    position: relative;
    bottom: 0;
}

.footer a {
    color: white;
}

/* SCROLLBAR */
::-webkit-scrollbar              {
    width: 10px;
    position: relative;
}
::-webkit-scrollbar-button       {
    display: none;
}
::-webkit-scrollbar-track        {
    display: none;
}
::-webkit-scrollbar-track-piece  {
    display: none;
}
::-webkit-scrollbar-thumb        {
    background: rgba(180, 180, 180, .85);
    border-radius: 10px;    
}
::-webkit-scrollbar-corner       {
    display: none;
}
::-webkit-resizer                {
    display: none;
}