.preview {
  margin-top: 15px;
  background-color: #f6f6f6;
  border-radius: 2px;
  border: 1px linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  padding: 15px 50px;
  min-height: 145px;
  position: relative;
  width: 25%;
}

.listing {
  height: 190px; 
  margin-top: 0px;
  position: relative;
  overflow: hidden;
}

.image-container {
  position: relative;
  float: left;
  overflow: hidden;
}

.image-container span {
  color: white;
  opacity: .5;
  position: absolute;
  left: 10px;
  bottom: 5px;
}

.listing .image-container {
  width: 240px;
  height: 100%;
}

.image-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.listing .image-container img.landscape {
  width: auto;
  height: 188px;
}
.listing .image-container img.portrait {
  width: 240px;
  height: auto;
}

/* buttons */
.left-arrow, .right-arrow, .delete-button, .close-button {
  width: 64px;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 50;
  opacity: .3;
  cursor: pointer;
  transition: opacity 150ms;
}

.left-arrow:hover, .right-arrow:hover, .magnifier:hover {
  opacity: .7;
}

.delete-button, .close-button, .magnifier {
  float: left;
  opacity: .4;
  width: 48px;
  height: 48px;
  margin: 163.5px 204.5px;
  cursor: pointer;
  transition: opacity 150ms;
}

.close-button {
  position: absolute;
  width: 48px;
  height: 48px;
  right: 30px;
  top: 30px;
  z-index: 2147483647;
}

.delete-button:hover, .close-button:hover {
  opacity: .95;
}

.left-arrow {
  background-image: url(/assets/images/left_arrow.png);
  float: left;
}

.right-arrow {
  background-image: url(/assets/images/right_arrow.png);
  float: right;
}

.delete-button, .close-button {
  background: url(/assets/images/cross.png) no-repeat;
  background-size: 48px 48px;
}

.magnifier {
  background: url(/assets/images/magnifier.png) no-repeat;
  background-size: 48px 48px;
}


.listing small {
  color: grey;
  float: left;
  display: block;
}

.rental-listing-index {
  width: 286px;
  height: 286px;
  margin: 9px;
  float: left;
}

.rental-listing-index .image-container {
  width: 264px; 
  height: 186px;
  margin: 10px;
}

.rental-listing-index .image-container img.landscape {
  width: auto;
  height: 186px;
}
.rental-listing-index .image-container img.portrait {
  width: 264px;
  height: auto;
}

/* rental page */
.image-view {
  background-color: white;
  width: 100%; 
  height: 375px;
  position: relative;
  float: left;
}

.image-view .image-container {
  width: 588px; 
  height: 100%;
}

.image-view .image-container img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.image-view .image-container img.landscape {
  width: auto;
  height: 375px;
}
.image-view .image-container img.portrait {
  width: 587px;
  height: auto;
}

.image-preview-clipper {
  width: 587px;
  height: 65px;
  margin-top: 7px;
  position: relative;
  float: left;
  overflow: hidden;
}

.image-preview-clipper.edit {
  width: 597px;
  height: auto;
  overflow: auto;
}

.image-preview {
  width: 150%;
  height: 65px;
}

.image-preview-clipper.edit .image-preview {
  width: 100%;
  height: auto;
  overflow: auto;
}

.image-preview .image-container {
  width: 92px;
  height: 60px;
  margin: 0 7px 7px 0;
  opacity: .65;
  border-bottom: 0px solid #01ba7e;
  transition: margin 300ms, opacity 250ms, border 90ms;
  transition-timing-function: ease-in-out;
}

.image-preview .image-container:hover {
  opacity: .85;
}

.image-container.selected {
  opacity: 1;
  border-bottom: 7px solid #01ba7e;
}

.image-preview .image-container img {
  -webkit-user-select: none;  -khtml-user-select: none;   -moz-user-select: none; -o-user-select: none;    user-select: none;  
}

.image-preview .image-container img.landscape {
  width: auto;
  height: 60px;
}
.image-preview .image-container img.portrait {
  width: 92px;
  height: auto;
}

.image-container.zoomed {
  position: absolute;
  top: 100px;
  left: 50px;
  width: calc(100vw - 100px);
  height: calc(100vh - 200px);
  z-index: 2147483647;
}

.image-container.zoomed img {
  cursor: pointer;
  width: auto;
  height: auto;
  max-width: calc(100% - 100px);
  max-height: 100%;
  z-index: 2147483647;
}

.image-container.zoomed .left-arrow, .image-container.zoomed .right-arrow {
  width: 20%;
}