/*rentals-search */
.rentals-search {
    height: 185px;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid #c2c2c2;
    border-top: 0px;
    border-radius: 0px 0px 5px 5px;
    overflow: none;
    box-shadow: 0px 1px 5px rgba(194, 194, 194, .5);
}

.rentals-search:hover {
    box-shadow: 0px 2px 10px rgba(194, 194, 194, .5);
}

/* radio */
.container-wide {
    width: 1160px;
    overflow:auto; 
}
.rentals-radio-panel {
    height: 28px;
    margin: 20px 0px 10px 35px;
    border-radius: 5px;
    float: left;
    box-shadow: 0px 1px 5px rgba(194, 194, 194, .5);
}

.rentals-radio-panel:hover {
    box-shadow: 0px 2px 10px rgba(194, 194, 194, .5);
}

.rentals-radio-panel input[type="radio"] {
    display: none;
}

.rentals-radio-panel input[type="radio"]:checked + label {
  color: white;
  background-color: #39b98f;
}

.rentals-radio-panel label {
    background-color: white;
    border: 1px solid #c2c2c2;
    border-left: 0px;
    width: 140px;
    display: block;
    cursor: pointer;
    text-align: center;
    height: 28px;
    position: relative;
    float: left;
}

.w1 label {
    width: 119px;
}

.w2 label {
    width: 170px;
}

.w3 label {
    width: 227px;
}

.rentals-search .left {
    border-radius: 5px 0px 0px 5px;
    border-left: 1px solid #c2c2c2; 
}

.rentals-search .right {
    border-radius: 0px 5px 5px 0px; 
}

/**
 * Individual Listings
 */
.listing-column {
    padding: 10px;
    float: left;
}

.listing-row {
  float: left;
}

.listing-agent {
    width: 140px;
    padding: 10px;
    float: left;
}

.listing-description {
    font-size: 14px;
    width: 622px;
    height: 3em;
    display: block;
    overflow: hidden;
    margin: 20px 0;
    padding: 0 35px;
    position: absolute;
    bottom: 0;
}

.preview {
    margin-top: 15px;
    background-color: #f6f6f6;
    border-radius: 2px;
    border: 1px linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    padding: 15px 50px;
    min-height: 145px;
    position: relative;
    width: 25%;
}

.listing {
    height: 190px; 
    margin-top: 0px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #c2c2c2;
    position: relative;
    box-shadow: 0px 1px 5px rgba(194, 194, 194, .5);
}

.listing:hover {
    box-shadow: 0px 2px 10px rgba(194, 194, 194, .5);
}

/*
.listing img {
    height: auto; 
    width: auto; 
    max-width: 240px; 
    max-height: 189px;
    float: left;
    border-radius: 4px 0px 0px 4px;
}

.image {
    width: 240px; 
    height: 189px;
    float: left;
    border-radius: 4px 0px 0px 4px;
}
*/
.image-container {
    position: relative;
    width: 240px;
    height: 188px;
    overflow: hidden;
    float: left;
    border-radius: 4px 0px 0px 4px;
}
/*
.image-container:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    box-sizing: border-box;
}
*/
.image-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-container img.landscape {
    width: auto;
    height: 188px;
}
.image-container img.portrait {
    width: 240px;
    height: auto;
}


.listing small {
    color: grey;
    float: left;
    display: block;
}

.listing h3 {
    padding: 0 15px 0 0;
}

.listing h3 a {
    display: inline;
}

.listing .map {
    position: absolute;
    bottom: 13px;
    right: 50px;
    height: 120px;
    width: 120px;
    background-size: cover;
    border-radius: 5px;
}

.listing .detail {
    width: 36%;
    display: inline-block;
    padding: 10px 15px 0 0;
    margin: 0;
    font-weight: 300;
    font-style: italic;
}

.listing .detail span {
    font-weight: 400;
    font-style: normal;
}

.show-listing .title {
    margin-bottom: 15px;
}

.show-listing .detail-section {
    width: 50%;
    padding-left: 30px;
}

.show-listing .owner {
    margin-top: 10px;
}

.show-listing .rental-pic {
    width: 50%;
    height: initial;
    position: static;
}

.left-arrow, right-arrow {
    width: 28px;
    height: 48px;
    
}

.left-arrow {
    background: url(/assets/images/left_arrow.png) no-repeat;
}

.right-arrow {
    background: url(/assets/images/right_arrow.png) no-repeat;
}
