/*rentals-search */
.rentals-search {
  width: 1200px;
  height: 185px;
  padding: 0 10px;
  margin: auto;
  margin-bottom: 10px;
  overflow: none;
}

.edit.rentals-search {
  height: 245px;
}
.search-wide {
  width: 100vw;
  padding-left: calc(50vw - 512px);
  position: fixed;
  top: 0;
}

.rentals-sliders {
width: 100%;
height: 60px;
overflow: hidden;
}
/**
* Individual Listings
*/
.listing-column {
  padding: 10px;
  float: left;
}

.listing-row {
float: left;
}

.listing-agent {
  width: 160px;
  padding: 10px;
  float: left;
}

.listing-description {
  font-size: 14px;
  color: #505050;
  width: 757px;
  height: 4.5em;
  display: block;
  overflow: hidden;
  margin: 15px 0;
  padding: 0 35px;
  position: absolute;
  bottom: 0;
}


.map {
  position: relative;
  width: 1198px;
  height: 400px;
  background-size: cover;
  border-radius: 5px;
}

.footer .map {
  width: 100%;
  height: 199px;
}

.map-container {
  margin: 20px 0 30px 0;
}

.footer .map-container {
  margin-top: 7px;
  margin-bottom: 0;
}


.rental-input {
  padding: 5px 0 20px 0;
  overflow: auto;
}

.rental-input span {
  line-height: 28px;
}

.rental-input input {
  font-size: 16px;
  width: 100%;
  height: 28px;
  padding-left: 10px;
  margin: -.5px;
/*
  border: 0;
  border-bottom: solid 1px lightgray;
*/
}

.rental-input textarea {
  font-size: 16px;
  width: 100%;
  height: 300px;
}

.rental-listing-edit {
  height: 41px;
  padding: 8px 0;
}

button.edit, a.edit {
}

button.delete, button.cancel, button.save,
a.delete, a.cancel, a.save {
  background: none;
  box-shadow: none;
  width: auto;
  height: auto;
  margin: 0;
  margin-left: 25px;
  padding: 0;
}

button.delete:hover, button.cancel:hover, button.save:hover,
a.delete:hover, a.cancel:hover, a.save:hover{
  box-shadow: none;
}

button.delete, a.delete {
  color: red;
}
button.cancel, a.cancel {
  color: gray;
}
button.save, a.save {
  color: blue;
}

button.add, a.add {
  width: 140px;
  height: 35px;
  box-shadow: 0px 1px 2px rgba(194, 194, 194, .6);
  transition: box-shadow 150ms;
  float:left;
}

button.add:hover, a.add:hover {
  box-shadow: 0px 2px 6px rgba(194, 194, 194, .6);
}
