/*rentals-search */
.rentals-search {
    height: 185px;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid #c2c2c2;
    border-top: 0px;
    border-radius: 0px 0px 5px 5px;
    overflow: none;
    box-shadow: 0px 1px 5px rgba(194, 194, 194, .5);
}

.rentals-search:hover {
    box-shadow: 0px 2px 10px rgba(194, 194, 194, .5);
}

/* radio */
.container-wide {
    width: 1160px;
    overflow:auto; 
}
.rentals-radio-panel {
    height: 28px;
    margin: 20px 0px 10px 35px;
    border-radius: 5px;
    float: left;
    box-shadow: 0px 1px 5px rgba(194, 194, 194, .5);
}

.rentals-radio-panel:hover {
    box-shadow: 0px 2px 10px rgba(194, 194, 194, .5);
}

.rentals-radio-panel input[type="radio"] {
    display: none;
}

.rentals-radio-panel input[type="radio"]:checked + label {
  color: white;
  background-color: #39b98f;
}

.rentals-radio-panel label {
    background-color: white;
    border: 1px solid #c2c2c2;
    border-left: 0px;
    width: 140px;
    display: block;
    cursor: pointer;
    text-align: center;
    height: 28px;
    position: relative;
    float: left;
}

.w1 label {
    width: 119px;
}

.w2 label {
    width: 170px;
}

.w3 label {
    width: 227px;
}

.rentals-search .left {
    border-radius: 5px 0px 0px 5px;
    border-left: 1px solid #c2c2c2; 
}

.rentals-search .right {
    border-radius: 0px 5px 5px 0px; 
}

/* Slider */
.slider-range, .slider-control {
    float: left;
    height: 22px;
    margin: 5px 0;
    opacity: .9999;
    position: relative;
}

.slider-range::before, .slider-control::before {
    width: 100%;
    height: 6px;
    margin-top: 8px;
    border: 1px solid #c2c2c2;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    box-shadow: inset 0 2px 4px rgba(194, 194, 194, .25);
}

.slider-range-range {
    height: 8px;
    margin: 8px 0;
    background: linear-gradient(to bottom, #01ba7e, #39b98f);
    border: 1px solid #c2c2c2;
    border-radius: 10px;
    position: absolute;
    transition: 0ms;
}

.slider-button {
    width: 22px;
    height: 22px;
    background-color: white;
    border: 1px solid #c2c2c2;
    border-radius: 32px;
    position: relative;
    float: left;
    box-shadow: 0px 1px 4px rgba(194, 194, 194, .5);
    z-index: 10;
    cursor: pointer;
    transition: 0ms;
    transition: box-shadow 150ms ease-out;
}

.full-area {}
.full-area::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: 5;
    cursor: auto;
}

.slider-button:hover {
    box-shadow: 0px 2px 8px rgba(194, 194, 194, .6);
}

/**
 * Individual Listings
 */
.listing-column {
    padding: 10px;
    float: left;
}

.listing-row {
  float: left;
}

.listing-agent {
    width: 140px;
    padding: 10px;
    float: left;
}

.listing-description {
    font-size: 14px;
    width: 622px;
    height: 3em;
    display: block;
    overflow: hidden;
    margin: 20px 0;
    padding: 0 35px;
    position: absolute;
    bottom: 0;
}

.vertical-line {
    height: 158px;
    margin: 15px 12px;
    border-left: 1px solid #c2c2c2;
    content: "";
    float: left;
}

.preview {
    margin-top: 15px;
    background-color: #f6f6f6;
    border-radius: 2px;
    border: 1px linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    padding: 15px 50px;
    min-height: 145px;
    position: relative;
    width: 25%;
}

.listing {
    height: 190px; 
    margin-top: 0px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #c2c2c2;
    position: relative;
    box-shadow: 0px 1px 5px rgba(194, 194, 194, .5);
}

.listing:hover {
    box-shadow: 0px 2px 10px rgba(194, 194, 194, .5);
}

.listing img {
    height: 189px;
    width:  240px;
    float: left;
    border-radius: 4px 0px 0px 4px;
}

.listing small {
    color: grey;
    float: left;
    display: block;
}

.listing h3 {
    padding: 0 15px 0 0;
}

.listing h3 a {
    display: inline;
}

.listing .map {
    position: absolute;
    bottom: 13px;
    right: 50px;
    height: 120px;
    width: 120px;
    background-size: cover;
    border-radius: 5px;
}

.listing .detail {
    width: 36%;
    display: inline-block;
    padding: 10px 15px 0 0;
    margin: 0;
    font-weight: 300;
    font-style: italic;
}

.listing .detail span {
    font-weight: 400;
    font-style: normal;
}

.show-listing .title {
    margin-bottom: 15px;
}

.show-listing .detail-section {
    width: 50%;
    padding-left: 30px;
}

.show-listing .owner {
    margin-top: 10px;
}

.show-listing .rental-pic {
    width: 50%;
    height: initial;
    position: static;
}


/* multiple dropdown */
.multiple-dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 100;
}

.multiple-dropdown-field {
    height: 28px;
    background-color: white;
    border: 1px solid #c2c2c2;
    border-radius: 5px;
    position: relative;
    float: left;
    cursor: pointer;
    z-index: 100;
    box-shadow: 0px 1px 3px rgba(194, 194, 194, .5);
}

.multiple-dropdown-field:hover
{
    box-shadow: 0px 2px 5px rgba(194, 194, 194, .5);
}

.multiple-dropdown-field::after {
    width: 9px;
    height: 6px;
    background: url(/assets/images/arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: .6;
    position: absolute;
    top: 10px;
    right: 8px;
    content: "";
    float: right;
    z-index: 100;
}

.rot-arrow::after {
  transform: rotate(180deg);
}

.multiple-dropdown-options {
    background-color: white;
    border: 1px solid #c2c2c2;
    border-top: 0px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
  /*
    display: flex;
    flex-direction: column;
  */
    z-index: 100;
}

.multiple-dropdown-options label {
    width: 215px;
    margin: 10px;
    display: block;
    cursor: pointer;
    text-align: left;
    height: 28px;
    position: relative;
    z-index: 100;
    float: left;
}

.multiple-dropdown-checked {
    position: relative;
    padding: 0px 20px 0px 10px;
    float: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    z-index: 100;
}

.multiple-dropdown input[type="checkbox"] {
    cursor: pointer;
    z-index: 100;
}

.space35 {
    float: left;
    margin: 0px 0px 10px 35px;
    height: 50px;
}