.light {
  font-weight: 300;
}

.left {
  float: left;
}

.right {
  float: right;
}

.bottom {
  position: absolute;
  bottom: 0;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
.text-12 {
  font-size: 12px;
}

.text-14 {
  font-size: 14px;
}

.text-18 {
  font-size: 18px;
}

.text-20 {
  font-size: 20px;
}

.text-22 {
  font-size: 22px;
}

.text-24 {
  font-size: 24px;
}

.text-26 {
  font-size: 24px;
}

.text-28 {
  font-size: 28px;
}

.text-32 {
  font-size: 32px;
}

.text-40 {
  font-size: 40px;
}

.text-grey {
  color: grey;
}

.w-180 {
  width: 180px;
}

.w-300 {
  width: 300px;
}

.h-0 {
  height: 0px;
}

.no-padding {
  padding: 0px;
}

.hidden {
  display: none;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  bottom: 0;
}

.invisible {
  opacity: 0;
}