<div class="container-logo">
  <br>
  <h3>О компании</h3>
  <br>
</div>
<div class="container-info">
  Агентство недвижимости «Агентство-Адвокат» одно из немногих агентств недвижимости, работающих на рынке недвижимости более 20 лет.
  <br>
  Целью деятельности агентства, как и любой коммерческой структуры, является получение прибыли, но только путём оказания качественных и безупречных услуг.
  <br>
  Агентство недвижимости «Агентство-Адвокат» оказывает весь спектр услуг по всем направлениям рынка недвижимости.
  <br>
  Отличительными чертами деятельности агентства являются надёжность, профессионализм, открытость.
  <br>
  Достойным показателем является тот факт, что за 21 год работы агентства не было ни одной сделки, оспоренной в суде, и ни одного судебного разбирательства с Клиентами фирмы.
  <br>
  За годы работы агентство доказало своё право на имя, являющееся синонимом слова защитник – Адвокат.
  <br>
  Будем рады помочь всем в решении жилищных вопросов.
  <br><br>  
  <b>Наш адрес:</b> Санкт-Петербург, В.О., Малый пр., дом 24
  <br>
  Телефон: <b>+7 (812) 309 28 91</b>
  <br><br><br>
</div>