<div class="body">

<div class="page">

  {{upper-menu}}
  
  <section class="content">  
    {{outlet popup=popup}}
  </section>

  <div class="footer">
    <div class="container">
      <div style='width: 25%; float: left'>
        {{#link-to 'services'}}
          Перечень услуг
        {{/link-to}}
      </div>
      <div style='width: 25%; float: left'>
        {{#link-to 'rentals'}}
          Каталог
        {{/link-to}}
      </div>
      <div style='width: 25%; float: left'>
        {{#link-to 'contact'}}
          Контакты
        {{/link-to}}
      </div>  
      <div style='width: 25%; float: left; height: 100px'>
        {{location-map location='В.О. Малый проспект дом 24'}} 
      </div>  
    </div>  
  </div>
</div>

</div>
