<div class="container-logo">
  <br>
  <h3>Контакты</h3> 
  <br>
</div>
<div class="container-info">
  Агентство недвижимости <b>«Агентство-Адвокат»</b>
  <br>
  Телефон: <b>+7 (812)309-28-91</b>
  <br>
  Наш адрес: Санкт-Петербург, Васильевский остров, Малый пр., дом 24
  <br>
  <br>
  Юридический адрес: ООО <b>«Агентство-Адвокат»</b> 199004, Санкт-Петербург, В.О., Малый пр., дом 24
  <br>
  {{location-map location="Санкт-Петербург, В.О., Малый пр., дом 24"}}
  <br><br>
  Наши сотрудники:
  <br><br>
  <br><br>
  Записаться на бесплатную консультацию: <b>+7 (812)309-28-91</b>
  <br><br><br> 
</div>
