<div class='container'>
  <div class='block' style='margin-top: 15px; padding: 20px 40px'>
    <span class='text-center text-28'>Контакты</span>
    <br><br>
    ООО <b>«Агентство-Адвокат»</b>
    <br>
    199004, Санкт-Петербург, Васильевский остров, Малый пр., дом 24
    <br><br>
    <div class="left" style="padding-top: 2px; padding-right: 16px">Телефон: </div> <div class="text-20 left"><b>+7 (812)309-28-91</b></div>
    <br><br>
    Email: 
    <br><br>
    <br><br>
    Наши сотрудники:
    <br><br>
    <br><br>
    Записаться на бесплатную консультацию: <b>+7 (812)309-28-91</b>
    <br><br><br> 
  </div>
  {{location-map location="Санкт-Петербург, В.О., Малый пр., дом 24"}}
</div>
