{{index-search}}

{{index-calc}}

<div class="index-about">
  <div class="container">
    <table>
      <tr>
      <td style="width: 24px">
      </td>
      <td style="width: 115px">
        <a href='/about'>
          <div class="logo-gradient" style="width: 100px; height: 76px; margin-top: -173px;"><div class="logo-letter" style="width: 100px; height: 60px; bottom: -15px;"></div></div>
        </a>
      </td>
      <td style="width: 650px; padding-top: 30px">
        <p class="text-28">гентство недвижимости Адвокат</p>
        <p>Основано в 1995 году.<br>
        Накопленный опыт работы позволяет решать любые вопросы<br>в сфере недвижимости.<br>
        На высоком профессиональном уровне, качественно.<br>
        Будем рады помочь всем в решении жилищных вопросов.</p><br><br><br><br><br>
      </td>
      <td style="width: 350px">
        
      </td>
      </tr>
    </table>
  </div>
</div>

<div class="index-listing">
</div>
