{{index-search}}

<div class="index-about">
  <div class="container">
    <table>
      <tr>
      <td style="width: 24px">
      </td>
      <td style="width: 115px">
        <a href='/about'>
          <div class="logo-gradient" style="width: 100px; height: 76px; margin-top: -151px;"><div class="logo-letter" style="width: 100px; height: 60px; bottom: -15px;"></div></div>
        </a>
      </td>
      <td style="width: 650px">
        <br>
        <p><b>гентство недвижимости Адвокат</b> основано в 1995 году.<br>
        Накопленный опыт работы позволяет решать любые вопросы в сфере недвижимости.<br>
        На высоком профессиональном уровне, качественно.<br>
        Будем рады помочь всем в решении жилищных вопросов.</p><br><br><br><br><br>
      </td>
      <td style="width: 350px">
        <div class="index-feedback">
        </div>
      </td>
      </tr>
    </table>
  </div>
</div>

<div class="index-listing">
</div>


<div class="index-news">
    <div class="container">
    <table>
      <tr>
        <td style="width: 784px">
          <h3>Новости</h3>
        </td>
        <td style="width: 240px">
          <script type="text/javascript" src="//vk.com/js/api/openapi.js?144"></script>

          <!-- VK Widget -->
          <div id="vk_groups"></div>
          <script type="text/javascript">
          VK.Widgets.Group("vk_groups", {mode: 3, width: "240", height: "400"}, 64858245);
          </script>
        </td>
      </tr>
    </table>
  </div>
</div>
