<div class="container-logo">
  <br>
  <h3>Вакансии</h3> 
  <br>
</div>
<div class="container-info">
  Агентство работает на рынке более 21 года и оказывает весь спектр услуг на рынке недвижимости.
  <br>
  Желающим освоить профессию риелтор мы предлагаем обучение с нуля.
  <br>
  Опытным агентам предлагаем высокий процент оплаты, рекламную поддержку, профессиональную поддержку, юридическую защищённость.
  <br>
  Дружный коллектив и удобное расположение офиса.
  <br>
  Мы приглашаем энергичных, целеустремлённых и доброжелательных людей.
  <br>
  Будем рады видеть вас в нашем коллективе.
  <br><br>  
  <b>Наш адрес:</b> Санкт-Петербург, В.О., Малый пр., дом 24
  <br>
  Телефон: <b>+7 (812) 309 28 91</b>
  <br><br><br> 
</div>