<div class='container'>  
  {{#custom-accordion title='Добавить Объявление'}}
    {{new-rental}}
  {{/custom-accordion}}

  {{#custom-accordion title='Добавить Отзыв'}}
    aaaaaaaaa
  {{/custom-accordion}}
  
  {{#custom-accordion title='Добавить Новость'}}
  {{/custom-accordion}}
</div>
