<div class='container'>  
  {{#custom-accordion title='Добавить Объявление'}}
    {{new-rental}}
  {{/custom-accordion}}

  {{#custom-accordion title='Добавить Отзыв'}}
    {{new-feedback}}
  {{/custom-accordion}}
  
  {{#custom-accordion title='Добавить Новость'}}
    {{new-post}}
  {{/custom-accordion}}
</div>
