{{rentals-search}}
<div class="container">  
  <div class="text-center">Найдено {{rentals-counter model.length}}</div>
  <ul class="results">
    {{#each model as |rentalUnit|}}
      <li>{{rental-listing rental=rentalUnit}}</li>
    {{/each}}
  </ul>
</div>
