<div class="container">
  <div class="block" style="height: 500px; margin: 15px 0; padding: 15px 40px">
    <div style="width: 50%; float: left">
      ff
    </div>
    <div style="width: 50%; float: left">
      fff
    </div>
  </div>
{{mortgage-calc total=model.price}}
</div>
