<div class='container'>
  <div class='block' style='margin-top: 15px; padding: 20px 40px'>
    <span class='text-center text-28'>Услуги</span>
    <br><br>
    1. Бесплатные консультации.
    <br><br>
    2. Продажа и покупка квартир и комнат.
    <br><br>
    3. Обмен, расселение коммунальных квартир.
    <br><br>
    4. Проведение сделок с участием субсидий и жилищных сертификатов.
    <br><br>
    5. Проведение сделок с участием материнского капитала.
    <br><br>
    6. Юридическое сопровождение сделок.
    <br><br>
    7. Ипотечное кредитование.
    <br><br>
    8. Подбор квартир в строящихся домах по ценам застройщиков.
    <br><br>
    9. Аренда квартир и комнат.
    <br><br>
    10. Коммерческая недвижимость (продажа, покупка, аренда).
    <br><br>
    11. Загородная недвижимость (дома, дачи, коттеджи, участки).
    <br><br>
    12. Управление недвижимостью.
    <br><br>  
    13. Инвестиционный консалтинг.
    <br><br>  
    14. Юридические услуги.
    <br><br>  
    Наш адрес: Санкт-Петербург, В.О., Малый пр., дом 24
    <br>
    Телефон: +7 (812) 309-28-91
    <br><br><br>
  </div>
  <br>
</div>